@page "/WorkflowStarted"

<PageTitle>Submit Workflow</PageTitle>

<div class="container py-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title mb-3">Workflow Started!</h5>
            <p class="card-text">Press check your email to proceed to the next step</p>
        </div>
    </div>
</div>